<header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 md-4 border-bottom">
    <div class="col-md-3 mb-2 mb-md-0">
        <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
            <svg class="bi" width="40" height="32" role="img" aria-label="Bootstrap">
                <use xlink:href="#bootstrap"></use>
            </svg>
        </a>
    </div>
    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a href="{% url 'home_page' %}" class="nav-link px-2 link-secondary">Домой</a></li>
        <li><a href="{% url 'catalog_product_page' %}" class="nav-link px-2">Каталог продуктов</a></li>
        <li><a href="{% url 'catalog_suppliers_page' %}" class="nav-link px-2">Каталог поставщиков</a></li>
        <li><a href="{% url 'category_list' %}" class="nav-link px-2">Каталог категорий</a></li>
        <li><a href="{% url 'order_list' %}" class="nav-link px-2">Каталог заказов</a></li>
    </ul>

        <div class="col-md-3 text-end">
            {% if request.user.is_anonymous %}
                <a href="{% url 'log in' %}" type="button" class="btn btn-outline-primary me-2">Авторизация</a>
                <a href="{% url 'regis' %}" type="button" class="btn btn-primary">Регистрация</a>
            {% else %}
                <a href="{% url 'log out' %}" type="button" class="btn btn-outline-dark">Выход из аккаунта</a>
            {% endif %}
        </div>

</header>